* {
    background: #1d1f21;
    foreground: #c5c8c6;
    border-color: #1d1f21;
    padding: 2px 5px;
    border: 1px solid;
    border-radius: 3px;
}

element {

}

listview {
    lines: 10;
    fixed-height: 1;
}
